#navContainer {
  height: 60px;
  margin: 20px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.104);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

#navContainer a {
  text-decoration: none;
  color: rgb(215, 211, 211);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

#navLinks a:hover {
  color: rgb(255, 255, 255);
}

#logo {
  background-image: url("../../assets/download-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}
