.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(221, 77, 77, 0.721) 10%,
    rgba(89, 110, 230, 0.662) 90%
  );
}

h4 {
  margin: 1.5vh 0 0;
  color: #3d1f1f;
}

button {
  background-color: rgba(129, 66, 108, 0.407);
  border-radius: 10px;
  padding: 1vh;
  width: 20vh;
  margin: 2vh 0 0;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(129, 66, 108, 0.607);
  color: rgba(255, 255, 255, 0.628);
}

input {
  border: none;
  border-bottom: 1px solid #693434;
  background-color: rgba(255, 255, 255, 0.334);
  border-radius: 10px;
  padding: 1vh;
  margin: 1vh;
  transition: 0.3s;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.534);
}

input:focus {
  background-color: rgba(255, 255, 255, 0.89);
  outline: none;
}

@media screen and (max-width: 600px) {
  .homeContainer {
    flex-direction: column;
    justify-content: center;
  }
}
