.friendsContainer {
  padding: 2vh 1vh;
  background-color: rgba(0, 0, 0, 0.114);


}

.friendsContainer h4 {
  margin-bottom: 2vh;
}

.addFriendContainer {
}

.addFriendContainer button {
  border-radius: 5px;
  border: none;
  background-color: hsla(262, 64%, 42%, 0.432);
  margin: 20px;
  color: white;
  transition: 0.3s;
}

.addFriendContainer button:hover {
  background-color: hsla(262, 64%, 42%, 0.811);
  transform: scale(1.1);
}

.addFriendContainer button:active {
  transform: scale(1.2);
}

.friendList {
  display: flex;
  flex-direction: column;
}

.friendList button {
  background-color: hsla(40, 60%, 1%, 0.179);
}

.friendList button:active {
  background-color: hsla(262, 66%, 57%, 0.811);
  box-shadow: 0 0 0.5rem 0.2rem hsla(0, 0%, 100%, 0.091);
  transform: scale(0.9);
}

@media screen and (max-width: 600px) {
  .friendsContainer {
    margin-left: 0;
  }
}
