.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

h2 {
  color: #ffffffd2;
  background-color: rgba(255, 228, 52, 0.377);
  width: 400px;
  padding: 1rem;
  border-radius: 8px;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 600;
}

.myContent {
  display: flex;
  flex-wrap: wrap;
border: 1px solid #ffffffd2;
  width: 400px;
  padding: 2vh;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
