#uploadContainer button[type="submit"] {
  background-color: #1c631fcd;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

#uploadContainer button[type="submit"]:hover {
  background-color: #1c631f;
}

#uploadContainer button[type="submit"]:active {
  transform: scale(0.95);
}

#uploadContainer input[type="file"] {
  display: none;
}

#uploadContainer label {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.file-upload {
  background-color: #27558ecd;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 1rem 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.file-upload:hover {
  background-color: #27558e;
}

.file-upload:active {
  transform: scale(0.95);
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0304062a;
  padding: 4vh;
  margin: 8vh;
  border-radius: 8px;
  gap: 10vh;
}

.contentContainer .contentBox {
  background-color: #eeeeee34;
  border-radius: 4px;
  box-shadow: rgba(20, 19, 19, 0.283) 0px 0px 10px 1px;
}
.contentContainer .contentBox img {
  height: 300px;
  margin: 10px;
}

.contentInfoBox {
  background-color: rgba(250, 235, 215, 0.658);
  margin: 0 4vh 0 4vh;
  border-radius: 8px;
}

.contentInfoBox p {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.6vh;
}
